*{
    margin: 0;
    padding: 0;
}
.about-container{
    background-image: url("../img/milad-fakurian-UiiHVEyxtyA-unsplash.jpg");
    background-size:  cover;
    overflow: hidden;
}
#education{
    background-color:aliceblue;
    height:max-content;
}

#project-title{
    background: black;
    height: 2em;
    color:white;
    margin-top:3.5em;
}
#projects{
    height:50vh; 
}
.ed-label{
    height: 2em;
    margin: 0.2em;
    font-size: 2rem;
}
#project-container{
    display: flex;
}
#s1{
    display:flex;
    flex-direction: column;
    width:5.5em;
    border-right: 1px solid black;
    border-radius: 1em;
}

.ed-content{
    height: 8em;
    width: 16em;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    background: rgba(255,255,255,0.7);
    border-radius: 1em;
  
}
.ed-container{
    width: 65%;
    height: 80%;
    border-radius: 1em;
    border: 1px solid black;
    margin: 1em;
   
    display:flex;
    flex-direction: row;
}
#records{
    padding-left: 10em;
}
  

#info-2{
    height: 30vh;
    width: 50%;
    float: right;
    margin:1em 2em 0 0;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
}
#info-1{
    border-radius: 50%;
    background: rgb(7, 7, 7);
    width: 6em;
    height: 6em;
    position:relative;
    left:4em;
    top:6em;
}
#info-1 a span{
    font-size:3em;
    position: relative;
    top:.6em;

}
.cv-button{
    background: black;
    height: 2.6em;
    width: 9em;
    position: absolute;
    bottom: 9em;
    left: 15em;
    border-radius: 4px;
    display: inline-block;
    text-decoration: none;
    color: aliceblue;
    text-align: center; 
    justify-content: center;
}

#section-1{
    width: 50%;
    height: 75vh;
    float:left;
}
#qualifications{
    float: right;
    height: 29em;
    width: 50%;
    border-left: 2px solid black; 
}
#qualifications > #title-name{
    text-align: center;
    background: black;
    color: white;
    margin-top: 1em;
    height: 7.5vh;
}
#about-1{
    height: 75vh;
   
    /* */
}