 .container{
        padding:0;
        /* background-color */
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-top: 2em;
        margin-bottom: 1em;
        border-radius:1em;
         
}
.talk-div{
    background: rgb(234, 244, 245);
    width: 38%;
    height: 8em;
    margin: .4em;
    border-radius: 1em;
    border: 1px solid black;
    align-items: center;
    
}
.talk-div:hover{
    transform: translateX(1);
}
.c1{
    width: 50%;
    background:rgb(234, 244, 245);
    margin-right: 2em;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#c1{
    margin-left:4em;
} 
#c2{
    margin-left:-5em;
}
.input{
    height: 8em;
    display: flex;
    flex-direction: column;
}
.title{
    font-size: 2rem;
}
form{
    height:120%;
}

input{
    border-radius: 0.6rem;
    padding: 0.4rem 12px;
    height: 9vh;
    width: 130%;
    display: block;
    border: 1px solid black;
}
.project{
    height: 20vh;
    
}
label{
    background: #fff;
    width: min-content;
    padding: 0;
    position: relative;
    top: .8em;
    left: .9em;
}
button{
    padding: 0 1em;
    border-radius: .5rem;
    background-color: black;
    color: white;
   float: left;
    margin-top: 1em;
}
button >span{
    color: white;
    position: relative;
    top:.3em;
   
}
