
.main_header{
   background-image: url("../img/milad-fakurian-UiiHVEyxtyA-unsplash.jpg");
   background-size:cover;
   background-color:rgb(99, 90, 99);
   height:80vh;
}
.img{
   width: 20rem;
   height:20rem;
   border-radius:50%;
   position: relative;
   bottom: 0;
   right:29rem;
   filter:grayscale(50%);
}
.img:hover{
   transform:scale(1.3);
   transition:ease;
}
.coding-profile{
   width:30%;
   display:flex;
   margin:auto;
   justify-content: space-between;
   position: absolute;
   top:7em;
   right:14em;
}
.coding-profile > div{
   width: 7em;
   height: 3em;
   background:black;
   border-radius: .5em;
   text-align:center;
   color:white;
   padding-top:.7rem;
}
a{
   text-decoration:none;
   color:white;
}
.coding-profile > div:hover{
   background: gray;
}
.name{
   position: absolute;
   bottom:14em;
   right:17rem;
}

@media(max-width:650px){
   .main_header{
     font-size: 50%;
     height: 77vh; 
      
   }
   .name{
      position: relative;
      bottom:0rem;
      left:3rem;
   }
   .img{
      position: relative;
      right:6rem;
      height: 45%;
      width: 50%;
   }
}