
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

html{
  scroll-behavior: smooth;
}
body{

}

*{
  margin: 0%;
  padding: 0%;
}  
.App {
  scroll-snap-align: start;
  text-align: center;
  /* background-image: url("./img/background.jpg");
  background-size:cover;*/
} 

 
@media(max-width:700px){
  body{
     font-size: 50%;
  }
}
